.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    background: #154360;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .logo {
        height: 60px;
        width: 60px;
    }

    ul {
        .active {
            li, svg {
                color: white;
            }
        }
        li {
            padding: 15px;
            color: #20A3F5;

            svg {
                color: #20A3F5;
                margin-right: 5px;
            }
        }
    }
    .selected {
        color: white;
    }
}